*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: cursive;
}

header{
    background-color: black;
    width: 100%;
    height: 42vh;
}

.header-parte-1{
    color: #fff;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.inicio-sesion a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    transition: 0.3s;
}
.inicio-sesion a:hover{
    color: #d8d500;
}
.imagenes-maps-account-msg img{
    padding-right: 20px;
}

.header-parte-2{
    display: flex;
    justify-content: center;
}
.titulo{
    color: #fff;
    display: flex;
}
.titulo h1{
    font-size: 80px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: #d8d500 solid;
    transition: 0.3s;
}
.titulo h1:hover{
    color: #d8d500;
}
.titulo img{
    width: 100px;
    height: 100px;
}

.header-parte-3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.navegador{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.navegador a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    transition: 0.3s;
}
.navegador a:hover{
    color: #d8d500;
}